<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parking-place-heading" jhiTranslate="parkingApp.parkingPlace.home.createOrEditLabel">Create or edit a Parking Place</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parkingPlace.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parkingPlace.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parkingApp.parkingPlace.dateIn" for="field_dateIn">Date In</label>
                    <div class="d-flex">
                        <input id="field_dateIn" type="datetime-local" class="form-control" name="dateIn" [(ngModel)]="dateIn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parkingApp.parkingPlace.dateOut" for="field_dateOut">Date Out</label>
                    <div class="d-flex">
                        <input id="field_dateOut" type="datetime-local" class="form-control" name="dateOut" [(ngModel)]="dateOut" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="parkingApp.parkingPlace.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="parkingPlace.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
